# DATA VALIDATION

In [2]:
import os 

%pwd

"c:\\Users\\soulo\\MACHINE_LEARNING_UNIVERSE\\PROJECT'S\\End-to-End-Machine-Leaning-Project-With-Mlow\\research"

In [3]:
os.chdir('../')
%pwd

"c:\\Users\\soulo\\MACHINE_LEARNING_UNIVERSE\\PROJECT'S\\End-to-End-Machine-Leaning-Project-With-Mlow"

In [ ]:
# 1. Update config.yaml
# 2. Update schema.yaml
# 3. update the entity
# 4. Update the configuration manger in src config

## Explore dataset

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv(r'config\artifacts\data_ingestion\winequality-red.csv')

In [8]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [11]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [12]:
df[df.duplicated()]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4,7.4,0.700,0.00,1.90,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
11,7.5,0.500,0.36,6.10,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
27,7.9,0.430,0.21,1.60,0.106,10.0,37.0,0.99660,3.17,0.91,9.5,5
40,7.3,0.450,0.36,5.90,0.074,12.0,87.0,0.99780,3.33,0.83,10.5,5
65,7.2,0.725,0.05,4.65,0.086,4.0,11.0,0.99620,3.41,0.39,10.9,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1563,7.2,0.695,0.13,2.00,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1564,7.2,0.695,0.13,2.00,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1567,7.2,0.695,0.13,2.00,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1581,6.2,0.560,0.09,1.70,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5
1596,6.3,0.510,0.13,2.30,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
df.shape

(1359, 12)

## Update the entity

In [17]:
from dataclasses import dataclass
from pathlib import Path

@dataclass(frozen=True)
class DataValidationConfig:
    root_dir: Path
    STATUS_FILE: str
    unzip_data_dir: Path
    all_schema: dict

## Update the configuration manger in src config

In [20]:
from mlproject.constants import *
from mlproject.utils.common import read_yaml , create_directories

In [40]:
class ConfigurationManager:
    def __init__(self,config_filepath = CONFIG_FILE_PATH, parmas_filepath =   PARAMS_FILE_PATH,schema_filepath =  SCHEMA_FILE_PATH ):
        self.config = read_yaml(config_filepath)
        self.params = read_yaml(parmas_filepath)
        self.schema = read_yaml(schema_filepath)
        create_directories([self.config.artifacts_root])
    
    def get_data_validation_config(self)-> DataValidationConfig:
        config = self.config.data_validation
        schema = self.schema.COLUMNS
        
        create_directories([config.root_dir])
        
        data_validation_config = DataValidationConfig(
            root_dir=config.root_dir , 
            STATUS_FILE=config.STATUS_FILE,
            unzip_data_dir= config.unzip_data_dir,
            all_schema=schema,
        )
        return data_validation_config

## Components

In [24]:
import os 
from mlproject import logger

In [37]:
class DataValiadtion:
    def __init__(self, config: DataValidationConfig):
        self.config = config


    def validate_all_columns(self)-> bool:
        try:
            validation_status = None

            data = pd.read_csv(self.config.unzip_data_dir)
            all_cols = list(data.columns)

            all_schema = self.config.all_schema.keys()

            
            for col in all_cols:
                if col not in all_schema:
                    validation_status = False
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")
                else:
                    validation_status = True
                    with open(self.config.STATUS_FILE, 'w') as f:
                        f.write(f"Validation status: {validation_status}")

            return validation_status
        
        except Exception as e:
            raise e

The  `DataValiadtion`  class in Python is responsible for validating all the columns in a given CSV file. The validation is done by comparing the column names in the CSV file with the column names defined in the  `all_schema`  configuration.

The  `DataValiadtion`  class has the following methods:

1.  `__init__(self, config: DataValidationConfig)`: This method initializes the  `DataValiadtion`  class with the  `config`  parameter. The  `config`  parameter is an instance of the  `DataValidationConfig`  class that contains all the necessary configurations for the data validation process.
    
2.  `validate_all_columns(self)-> bool`: This method validates all the columns in the CSV file. It reads the CSV file using the  `pd.read_csv()`  function, which returns a DataFrame. The column names of the DataFrame are stored in the  `all_cols`  list. The  `all_schema`  configuration is used to compare the column names. If a column name is not found in the  `all_schema`  configuration, the  `validation_status`  is set to  `False`. If all the column names are found in the  `all_schema`  configuration, the  `validation_status`  is set to  `True`. Finally, the  `validation_status`  is returned as the result of the validation process.

## Pipeline

In [42]:

try:
    config = ConfigurationManager()
    data_validation_config = config.get_data_validation_config()
    data_validation = DataValiadtion(config=data_validation_config)
    data_validation.validate_all_columns()
except Exception as e:
    raise e

[2023-11-24 23:18:46,897] : INFO : common :  yaml file: config\config.yaml loaded successfully]
[2023-11-24 23:18:46,901] : INFO : common :  yaml file: params.yaml loaded successfully]
[2023-11-24 23:18:46,903] : INFO : common :  yaml file: schema.yaml loaded successfully]
[2023-11-24 23:18:46,905] : INFO : common :  created directory at: artifacts]
[2023-11-24 23:18:46,907] : INFO : common :  created directory at: artifacts/data_validation]